# Node / PNPM
node_modules/
**/node_modules/
.pnpm-store/

# Builds / Tooling
dist/
build/
coverage/

# Hardhat
contracts/cache/
contracts/artifacts/
contracts/typechain-types/

# Env
*.env
!*.env.example

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
