:root {
  --ifm-color-primary: #4ADAEA;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;

}

[data-theme='dark'] {
  --ifm-color-primary: #4ADAEA; /* hover */
  --ifm-color-primary-dark: #000000;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  body, main {
    background-image:
    radial-gradient(#000000 2px, transparent 2px),
    linear-gradient(to bottom, #1e1e1e 0%, #080808 0%, #080808 100%);
    background-size: 4px 4px, 100% 100%;
    background-blend-mode: normal;
    color: #b6b6b6;
   }

   
   nav, footer {
    background-image:
    radial-gradient(#000000 2px, transparent 2px),
    linear-gradient(to bottom, #1e1e1e 0%, #080808 0%, #080808 100%);
    background-size: 4px 4px, 100% 100%;
    background-blend-mode: normal;
   }

   footer {
    border-top: 1px solid rgb(63, 63, 63);
   }

   
}


[data-theme='light'] {
  --ifm-color-primary: #058985;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);


  footer {
    background-color: rgb(77, 77, 77);
  }

  }