@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root {
  --white: #FFFFFF;
  --dark: #000000;
  --border-color: rgba(181, 181, 181, 0.7);
  --shadow-color: rgba(0, 0, 0, 0.08);
  --shadow-color-strong: rgba(0, 0, 0, 0.12);
  --border: rgb(225, 225, 225);
  --black-grey: rgb(29, 29, 29);
  --grey: grey;
  --secondary: #5D6BF8;
  --secondary-border: #4552E5;
  --btn-shadow-secondary: rgba(93, 107, 248, 0.4);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;

  background-color: var(--white);

  background-image:
    radial-gradient(rgba(90, 125, 184, 0.2) 1px, transparent 1px),
    linear-gradient(
      to bottom,
      transparent 60%,
      rgba(0, 149, 255, 0.112) 80%,
      rgba(0, 149, 255, 0.152) 90%,
      rgba(0, 149, 255, 0.19) 100%
    );

  background-size: 7px 7px, 100% 100%;
  background-blend-mode: normal;
  color: var(--dark);
}

input:focus {
  outline: none;
}

h2 {
  color: var(--textColor);
}

.containerBody {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  height: auto;
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
