/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */




 [data-theme='light'] {

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #111111;
  background-color: transparent;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

 }


 [data-theme='dark'] {

  .heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    background-color: transparent;
  }




  @media screen and (max-width: 996px) {
    .heroBanner {
      padding: 2rem;
    }
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   }