.sectionDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btnDetails {
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: var(--text-grey);
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-right: 1vh;
    cursor: pointer;
    font-size: 1.4vh;
    letter-spacing: 0;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    gap: 0.8vh;
    font-size: 1.8vh;
    font-weight: 400;
    margin-bottom: 0;
    position: relative;
}

.lineDetails {
    width: 90%;
    height: 0.1vh;
    background-color: #242424;
    margin-top: 0.4vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}


.labelDetailsSwapSlippage {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.labelDetailsSwap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}