.detailsContainer {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    gap: 1vh;
    font-size: 1.7vh;
    margin-bottom: 0;
}

.lineDetails {
    width: 90%;
    height: 0.1vh;
    background-color: var(--border-btn);
}

.labelDetailsSwapSlippage {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.labelDetailsSwap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}