.containerBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-image:
    radial-gradient(#000000 2px, transparent 2px),
    linear-gradient(to bottom, #1e1e1e 0%, #080808 0%, #080808 100%);
  background-size: 4px 4px, 100% 100%;
  background-blend-mode: normal;
}



.halo {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 10%;
  transform: translateX(-50%) translateY(-50%) rotate(70deg);
  background: linear-gradient(to top, #4ADAEA 70%, #ffffff);
  opacity: 1;
  filter: blur(110px);
  pointer-events: none;
  z-index: 0;
}


.containerSwap {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  
  .swapCard {
    background: rgba(0, 0, 0, 0.624);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(49, 49, 49, 0.3);
    color: var(--text-color);
    border-radius: 30px;
    height: auto;
    width: 500px;
    z-index: 2;
    padding: 7px;
    position: relative;
  }

  .followHalo {
    position: absolute;
    pointer-events: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, #4adaea2f 0%,#ffffff1c 80%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease;
    z-index: 10000;
    filter: blur(50px);
  }
  

  
  .swapCardLineTop {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10%;
    transform: translateX(-50%);
    height: 50%;
    min-height: 1px;
    width: 0.05vh;
    background: linear-gradient(
      0deg,
      rgba(49, 49, 49, 0.3),
      var(--border-shadow-anim),
      rgba(49, 49, 49, 0.3)
    );
    z-index: 10;
  }

  
  .swapCardLineBottom {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    transform: translateX(-50%);
    height: 50%;
    min-height: 1px;
    width: 0.05vh;
    background: linear-gradient(
      0deg,
      rgba(49, 49, 49, 0.3),
      var(--border-shadow-anim),
      rgba(49, 49, 49, 0.3)
    );
    z-index: 10;
  }

  
  
  .inputSwapBody {
    display: flex;
    flex-direction: column;
  }
  
  .inputSwapContainer {
    background-color: var(--black);
    border: 1px solid var(--black-border);
    box-shadow: 
      inset 0 1px 3px -0.25px rgba(255, 255, 255, 0.12),
      inset 0 0.5px 0.25px -0.25px rgba(255, 255, 255, 0.16),
      inset 0 -0.75px 0.5px var(--btn-shadow-black),
      0 4px 4px -1px var(--btn-shadow-black),
      0 2px 3px -1px var(--btn-shadow-black),
      0 0.5px 0.5px var(--btn-shadow-black),
      0 0 0 0.75px var(--btn-shadow-black);
    border-radius: 2.5vh;
    padding-top: 1.3vh;
    color: var(--text-grey-input);
    font-weight: 500;
    letter-spacing: -0.08vh;
    font-size: 1.6vh;
    padding-bottom: 2vh;
    margin-bottom: 0.6vh;
  }
  
  .inputSwapContainerTo {
    background-color: var(--black);
    color: var(--text-color);
    border: 1px solid var(--black-border);
    box-shadow: 
      inset 0 1px 3px -0.25px rgba(255, 255, 255, 0.12),
      inset 0 0.5px 0.25px -0.25px rgba(255, 255, 255, 0.16),
      inset 0 -0.75px 0.5px var(--btn-shadow-black),
      0 4px 4px -1px var(--btn-shadow-black),
      0 2px 3px -1px var(--btn-shadow-black),
      0 0.5px 0.5px var(--btn-shadow-black),
      0 0 0 0.75px var(--btn-shadow-black);
    border-radius: 2.5vh;
    padding-top: 1.3vh;
    color: var(--text-grey-input);
    font-weight: 500;
    letter-spacing: -0.08vh;
    font-size: 1.6vh;
    padding-bottom: 2vh;
    margin-top: 0.6vh;
  }
  
  .headerInput {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .wallet {
    display: flex;
    align-items: center;
    gap: 0.7vh;
  }
  
  .walletAddress {
    cursor: pointer;
    user-select: none;
  }
  
  .walletIcone {
    width: 1.3vh;
  }
  
  .bodyInput {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 1.2vh;
    margin-top: 1vh;
  }
  
  .inputSwap {
    width: 70%;
    background-color: transparent;
    border: none;
    font-size: 5vh;
    color: var(--text-color);
    outline: none;
    padding-left: 2vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.2vh;
  }
  
  .inputSwap::placeholder {
    color: var(--placeholder);
    opacity: 1;
  }
  
  .flipBtn {
    background-color: var(--black);
    color: var(--text-color);
    border: 1px solid var(--black-border);
    box-shadow: 
      inset 0 1px 3px -0.25px rgba(255, 255, 255, 0.12),
      inset 0 0.5px 0.25px -0.25px rgba(255, 255, 255, 0.16),
      inset 0 -0.75px 0.5px var(--btn-shadow-black),
      0 4px 4px -1px var(--btn-shadow-black),
      0 2px 3px -1px var(--btn-shadow-black),
      0 0.5px 0.5px var(--btn-shadow-black),
      0 0 0 0.75px var(--btn-shadow-black);
    margin-left: auto;
    margin-right: auto;
    height: 5.4vh;
    width: 5.4vh;
    cursor: pointer;
    border-radius: 1.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: center;
  }
  
  .flipBtn:active {
    transform: translate(-50%, -100%) scale(0.96);
  }

  
  .flipIcone {
    width: 100%;
    margin-top: 10%;
  }
  
  .swapBtn {
    background-color: var(--black);
    color: var(--text-color);
    border: 1px solid var(--black-border);
    box-shadow: 
      inset 0 1px 3px -0.25px rgba(255, 255, 255, 0.12),
      inset 0 0.5px 0.25px -0.25px rgba(255, 255, 255, 0.16),
      inset 0 -0.75px 0.5px var(--btn-shadow-black),
      0 4px 4px -1px var(--btn-shadow-black),
      0 2px 3px -1px var(--btn-shadow-black),
      0 0.5px 0.5px var(--btn-shadow-black),
      0 0 0 0.75px var(--btn-shadow-black);
    height: 6vh;
    width: 100%;
    border-radius: 2.5vh;
    z-index: 1000;
    cursor: pointer;
  }
  
  .swapBtn:active {
    transform: scale(0.98);
  }
  
  .textBtnSwap {
    font-size: 2vh;
    font-weight: 500;
    letter-spacing: -0.09vh;
    background: linear-gradient(
      to top,
      var(--text-color),
      var(--swap-text-color) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  
  .bodyBalance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 0.4vh;
  }
  
  .badgeBalance {
    font-size: 1.5vh;
    cursor: pointer;
    user-select: none;
    padding-right: 1vh;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .amountBalance {
    font-weight: 600;
    color: var(--text-color);
  }
  
  .badgeBalance:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  .balance {
    display: flex;
    align-items: center;
    gap: 0.3vh;
    font-size: 2vh;
    opacity: 0;
  }
  
  .dollarFont {
    color: var(--placeholder);
  }
  
  @media (max-width: 900px) {
    .swapCard {
      margin-right: 1vh;
      margin-left: 1vh;
    }
  }