.btnTokenSelector {
  height: 5.4vh;
  border-radius: 1.5vh;
  margin-right: 2vh;
  background-color: transparent;
  border: 1px solid rgb(26, 26, 26);
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.9vh;
  letter-spacing: -0.08vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3vh;
  padding-left: 1vh;
  position: relative;
  }

  .btnTokenSelector:hover {
    background-color: var(--hover-selector);
  }

  .btnTokenSelector:active {
    transform: scale(0.97);
  }


  .tokenIcon {
    width: 3.2vh;
  }

  .arrowIcone {
    width: 2.5vh;
  }

  .titleSearchToken {
    display: flex;
    align-items: end;
    width: 90%;
    gap: 0.5vh;
    margin-top: 1.5vh;
    font-size: 1.8vh;
    font-weight: 400;
  }

  .volIcone {
    width: 2vh;
    margin-bottom: 0.4vh;
  }
  
  .dropdown {
    position: absolute;
    top: -0.7vh;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%) translateY(100%);
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark);
    border: 0.1vh solid var(--border-grey);
    border-radius: 3vh;
    z-index: 1000000;
    margin-top: 5px;
    opacity: 0;
    animation: dropdownSlide 0.1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  @keyframes dropdownSlide {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(-50%);
      opacity: 1;
    }
  }

  .list {
    width: 100%;
    margin-top: 1vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .list::-webkit-scrollbar {
    display: none;
  }
  
  .item {
    padding-left: 5%;
    cursor: pointer;
    height: 6vh;
    display: flex;
    align-items: center;
  }
  
  .item:hover {
    background: #131313;
  }
  
 

  .nameTokenDropdown, .importInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    gap: 0.4vh;
  }
  
  .tokenName, .tokenMeta {
    color: var(--text-color);
  }

  .titleDropdown {
    font-size: 2.7vh;
    margin-top: 2vh;
    color: var(--text-color);
    width: 92%;
  }

  .searchBarSelector {
    width: 90%;
    min-height: 6vh;
    border-radius: 2vh;
    margin-top: 1vh;
    background-color: var(--input-search);
    border: 0.1vh solid var(--border-grey);
    box-shadow: inset 0 0 0.7vh 0.1vh var(--shadow-grey);
    display: flex;
    align-items: center;
    gap: 1.5vh;
    padding-left: 2vh;
  }

  .searchIcone {
    width: 2.2vh;
  }

  .placeholderInput {
    font-size: 2vh;
    font-weight: 400;
  }

  .searchInput {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 2vh;
    flex-grow: 1;
  }

  .importRow {
    padding-left: 10%;
    cursor: pointer;
    height: 5vh;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1vh;
  }
  

  .symbolImport {
    padding-right: 0.5vh;
  }

  .importBtn {
    margin-left: auto;
    margin-right: 6vh;
    background-color: transparent;
    border: none;
    color: orange;
    cursor: pointer;
    border-radius: 1vh;
    height: 4vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .importBtn:hover {
    background-color: #131313;
  }

  .tokenIconImport {
    width: 3vh;
  }

  .labelImported {
    margin-left: auto;
    color: orange;
  }

  .removeBtnSelected {
    margin-right: 2vh;
    margin-left: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1vh;
    border-radius: 1vh;
  }

  .removeBtnSelected:hover {
    background-color: #1c1c1c;
  }

  .deleteIcon {
    width: 1.5vh;
  }

  .infoTokenSwap {
    display: flex;
    align-items: center;
  }

  .tokenSymbol {
    margin-right: 1vh;
  }

  .tokenPlaceholder{
    display: flex;
    align-items: center;
    width: 10vh;
  }