.navbar {
    position: fixed;
    top: 2vh;
    left: 50%;
    height: 6.4vh;
    border-radius: 2vh;
    transform: translateX(-50%);
    width: auto;
    background-color: var(--bg-dark);
    border: 0.1vh solid var(--border-grey);
    box-shadow: inset 0 0 0.7vh 0.1vh var(--shadow-grey);
    display: flex;
    align-items: center;
    padding-left: 1vh;
    padding-right: 1vh;
    z-index: 10;
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: -0.05vh;
    left: 50%;
    transform: translateX(-50%);
    height: 0.05vh;
    width: 30%;
    background: linear-gradient(90deg, var(--border-grey), var(--border-shadow-anim), var(--border-grey));
    box-shadow: 0 -2vh 6vh 2vh var(--shadow-grey);
    z-index: 10;
    animation: slideAfter 5s ease-in-out infinite alternate;
}

@keyframes slideAfter {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.linkBase {
    position: relative;
    z-index: 10;
    padding: 0 4vh;
    display: flex;
    align-items: center;
    border-radius: 1.5vh;
    border: 1px solid transparent;
    text-decoration: none;
    color: var(--text-grey);
    height: 5vh;
    letter-spacing: -0.1vh;
    transition: color 0.3s;
    font-weight: 500;
    font-size: 1.8vh;
}

.linkTextActive {
    color: var(--text-color);
}

.activeBg {
    position: absolute;
    height: 5vh;
    border-radius: 1.5vh;
    background-color: var(--bg-btn);
    border: 1px solid var(--border-btn);
    box-shadow: inset 0 0 0.7vh 0.1vh var(--shadow-grey);
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 1;
}

.line {
    height: 60%;
    width: 0.1vh;
    background-color: var(--line-bg);
    margin-left: 1vh;
}

.linkBaseComing {
    position: relative;
    z-index: 10;
    padding: 0 2vh;
    display: flex;
    align-items: center;
    border-radius: 1.5vh;
    border: 1px solid transparent;
    text-decoration: none;
    color: var(--text-grey);
    height: 5vh;
    letter-spacing: -0.1vh;
    transition: color 0.3s;
    font-weight: 500;
    font-size: 1.8vh;
    cursor: not-allowed;
}

.comingMsg {
    display: flex;
    align-items: center;
    margin-top: 0.08vh;
    margin-left: 0.6vh;
}

.comingSoonLabel {
    font-weight: 400;
    font-size: 1.2vh;
    letter-spacing: -0.04vh;
    color: var(--orange);
    opacity: 0.7;
}

.comingSoonLabel::after {
    content: " Soon";
}

.point {
    background-color: var(--orange);
    box-shadow: 
        0 0 60px 7px var(--orange),
        0 0 10px 1px var(--orange);
    height: 0.7vh;
    width: 0.7vh;
    border-radius: 50%;
    margin-right: 0.4vh;
}

@media (max-width: 768px) {
    .navbar {
        top: auto;
        bottom: 2vh;
    }

    .comingMsg {
        margin-top: 0.4vh;
    }
    
    .comingSoonLabel::after {
        content: "";
    }

    .line {
        margin-left: 0.6vh;
    }
}